.feedBackForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0;
  margin-right: 30px;
  align-items: flex-end;
}

.feedBackForm textarea {
  font-family: 'inter', sans-serif;
  resize: none;
  background-color: var(--base-secondary-color);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.feedBackForm textarea:focus {
  outline: solid var(--accent-color) 2px;
}

.feedBackForm button {
  width: 30ch;
  border-radius: 4px;
  color: white;
  padding: 0.5em 2em;
  background-color: var(--accent-color);
  border: none;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  height: min-content;
}

.feedBackForm p {
  font-size: 1em;
  font-weight: 400;
  color: var(--accent-color);
  line-height: 0.2em;
}

.feedBackForm div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
