iframe {
  width: 100%;
  border: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: content;
}
.view {
  flex-basis: content;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: solid grey 1px;
}

#title {
  margin: 5px;
  position: absolute;
}
