iframe {
  width: 100%;
  border: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px;
}
.view {
  flex-basis: content;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: solid rgb(38, 38, 38) 1px;
  position: relative;
}

#title {
  padding: 2px 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.533);
  position: absolute;
}
