.header {
  background: var(--base-secondary-color);
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 2em);
  color: var(--font-pale);
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
}

.viewControls {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  width: 100px;
}

.settings {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  gap: 10px;
}
