body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 900; /* Set font weight to black */
  color: white;
  background-color: black;
}

.grid {
  display: flex;
  height: calc(100vh - 2.5em);
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
