button {
  width: 30ch;
  border-radius: 4px;
  color: white;
  padding: 0.5em 2em;
  border: none;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}

button.major {
  background-color: var(--accent-color);
  border: var(--accent-color) 2px solid;
}

button.minor {
  background-color: transparent;
  border: var(--accent-color) 2px solid;
  color: var(--accent-color);
}
